* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

body {
  background: url(./assets/pexels-maxyne-barcel-10402282\ 1.png);
  width: 100%;
  height: 100vh;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 118, 252, 0.135);
  backdrop-filter: brightness(20%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}


/* ---------- NAVBAR ------------ */
.navbar {
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 90px 0 90px;
}

.logo {
  width: 170px;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 4rem;
}

.navbar ul li {
  color: #F5BA32;
  font-size: 1.3rem;
  cursor: pointer;
}

.navbar ul li:hover {
  font-weight: 800;
}

.button-small {
  background-color: #FF515F;
  color: #ffffff;
  font-size: 2rem;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
}

.button-small:hover {
  background-color: #ff4655;
}

.ri-menu-3-line {
  color: #ffffff;
  font-size: 30px;
  margin-left: 18px;
  display: none;
}


/* ---------- NAVBAR RESPONSIVE ------------ */
@media (max-width: 1200px) {
  .navbar {
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 0 40px;
  }
  
  .logo {
    width: 120px;
  }
  
  .navbar ul li {
    display: none;
  }

  .button-small {
    font-size: 1.2rem;
    padding: 8px 30px;
    cursor: pointer;
  }

  .btn-con {
    display: flex;
    align-items: center;
  }
  
  .ri-menu-3-line {
    color: #ffffff;
    font-size: 30px;
    margin-left: 18px;
    display: block;
  }
}

@media (max-width: 800px) {
  .navbar {
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 0 20px;
  }
  
  .logo {
    width: 110px;
  }
  
  .navbar ul li {
    display: none;
  }

  .button-small {
    font-size: 1rem;
    padding: 3px 12px;
    cursor: pointer;
  }

  .btn-con {
    display: flex;
    align-items: center;
  }
  
  .ri-menu-3-line {
    color: #ffffff;
    font-size: 32px;
    margin-left: 20px;
    display: block;
  }
}


/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-heading {
  color: #F5BA32;
  font-weight: 700;
  font-size: 160px;
  width: 100%;
  text-align: center;
  line-height: 0.9;
  margin-top: 4rem;
}

.button-large {
  background-color: #FF515F;
  color: #ffffff;
  font-weight: 400;
  font-size: 28px;
  padding: 20px 40px;
  margin-top: 60px;
  border: none;
  cursor: pointer;
}

.button-large:hover {
  background-color: #ff4655;
}

.bottom {
  position: absolute;
  right: 80px;
  bottom: 40px;
}


@media (max-width: 1500px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hero-heading {
    color: #F5BA32;
    font-weight: 700;
    font-size: 110px;
    width: 100%;
    text-align: center;
    line-height: 0.9;
    margin-top: 4rem;
  }
  
  .button-large {
    background-color: #FF515F;
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    padding: 15px 30px;
    margin-top: 60px;
    cursor: pointer;
  }
  
  .button-large:hover {
    background-color: #ff4655;
  }
  
  .bottom {
    position: absolute;
    right: 60px;
    bottom: 60px;
  }
}

@media (max-width: 800px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hero-heading {
    font-weight: 700;
    font-size: 35px;
    width: 100%;
    text-align: center;
    line-height: 1.3;
    margin-top: 7rem;
    padding: 0 10px;
  }
  
  .button-large {
    font-weight: 400;
    font-size: 15px;
    padding: 10px 20px;
    margin-top: 50px;
  }

  .bottom img {
    width: 120px;
    position: absolute;
    bottom: 40px;
    right: 60px;
  }
}